<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Display Agent Page</title>
</head>
<body>
{% if agents_list %}
    <table>
    {% for agent in agents_list %}
        <tr>
            <th><a href="{% url 'main:detail' agent.id %}">{{ agent.first_name }} {{ agent.last_name }}</a></th>
            <th>{{ agent.email_address }}</th>
            <th>{{ agent.phone_number }}</th>
            <th>{{ agent.home_address }}</th>
            <th>{{ agent.work_address }}</th>
            <th>{{ agent.confirmed }}</th>
            <th>{{ agent.registration_date }}</th>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No Agent is registered now.</p>
{% endif %}
</body>
</html>